/* cuerpo */
.fondo{
    margin: 0;
    background-color: #241e36;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: GODOFWARF;
}

/*Bootstrap*/

/*header*/
#header{
    background-color: #141020;
}

.logo {
    height: 50px;
    margin-right: 30px;
    margin-bottom: 10px;

}

/*carrusel con bs*/
.carousel{
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

/*contenido lore con bs*/
#contenido-m{
    background-color: #211c31;
    color: white;
    text-align: justify;
}

#contenido {
    background-color: #211c31;
    color: white;
    text-align: justify;
}

#contenido-m span{
  color: red;
}

/*Contenido mult con bs*/
#cuadro-mult{
    background-color: #211c31;
    color: goldenrod;
}

#mult{
    padding: 15px;
}

#cuadro-mult a{
    text-decoration: none;
    color: goldenrod;
}




nav a{
    text-decoration: none;
    color: goldenrod;
    font-weight: 600;
    padding-right: 30px;
}



/*ASIDE DE LA PAGINA*/

aside img{
    width: 180px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    
}

aside p{
    color: #b8b8b8;
    text-align: justify;
    font-size: 12px;
}

aside span{
    color: goldenrod;
}

.separacion_aside{
    height: 50px;
}



/* pie de pagina */

footer{
    margin-top: 120px; 
    width: 100%; 
    height: 80px; 
    background-color: #141020;

    display: flex;
    color: white; 
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* formularios */

#titulo-form{
    color: white;
}

#form-box{
    background-color: #211c31;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.form button{
    background-color: #141020;
    border: solid;
    border-color: #141020;
}

.form button:hover{
    background:goldenrod;
    border-color: brown
}

.form{
    text-align: center;
}
.form a{
    color: goldenrod;
}

.form a:hover{
    color: brown;
}

#message {
    color: #d8d8d8;
}

/* nosotros definitivo */

#contenedor_us {
    background-color: #211c31;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    display: flex;

}

#contenedor_img{
    width: 70%;
    justify-content: space-between;
    display: flex;
    margin: auto;

}

.cuadro_img{
    padding: 2%;
    background-color: #211c31;
}

#contenedor_img img{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

#contenido2_us{
    text-align: justify;
    color: white;
    display: flex;
    padding: 3%;
}

#kratos_faceoff{
    margin-left: 30px;
    float: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
     0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

/*Juego pirata*/

#contenedor_game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*Galeria de imagenes*/
#galeria{
    background-color: #211c31;
    padding: 2%;
    margin: auto;
    display: flex;
    width: 55%;
    height: 430px;
    box-sizing: border-box;
    
}

#galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

#galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);

}